openapi: 3.0.4
info:
  title: Truth Table Generator
  description: Truth Table Generator creates complete truth tables for boolean expressions with support for AND, OR, NOT, XOR, NAND, and NOR operators.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.9
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
- url: https://api.apiverve.com/
paths:
  /v1/truthtable:
    get:
      summary: Generate Truth Table
      description: Truth Table Generator creates complete truth tables for boolean expressions with support for AND, OR, NOT, XOR, NAND, and NOR operators.
      operationId: truthtable
      parameters:
      - name: expression
        in: query
        schema:
          type: string
        required: true
        description: Boolean expression using A-Z variables and operators (AND, OR, NOT, XOR, NAND, NOR)
        example: A AND B OR C
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: string
                    description: data
              example:
                status: ok
                error: 
                data:
                  expression: A AND B OR C
                  normalized: A && B || C
                  variables:
                  - A
                  - B
                  - C
                  - D
                  - N
                  - O
                  - R
                  variableCount: 7
                  rowCount: 128
                  rows:
                  - inputs:
                      A: 0
                      B: 0
                      C: 0
                      D: 0
                      N: 0
                      O: 0
                      R: 0
                    result: 0
                  - inputs:
                      A: 0
                      B: 0
                      C: 0
                      D: 0
                      N: 0
                      O: 0
                      R: 1
                    result: 0
                  - inputs:
                      A: 0
                      B: 0
                      C: 0
                      D: 0
                      N: 0
                      O: 1
                      R: 0
                    result: 0
                  - inputs:
                      A: 0
                      B: 0
                      C: 0
                      D: 0
                      N: 0
                      O: 1
                      R: 1
                    result: 0
                  - inputs:
                      A: 0
                      B: 0
                      C: 0
                      D: 0
                      N: 1
                      O: 0
                      R: 0
                    result: 0
                  - inputs:
                      A: 0
                      B: 0
                      C: 0
                      D: 0
                      N: 1
                      O: 0
                      R: 1
                    result: 0
                  - inputs:
                      A: 0
                      B: 0
                      C: 0
                      D: 0
                      N: 1
                      O: 1
                      R: 0
                    result: 0
                  - inputs:
                      A: 0
                      B: 0
                      C: 0
                      D: 0
                      N: 1
                      O: 1
                      R: 1
                    result: 0
                  - inputs:
                      A: 0
                      B: 0
                      C: 0
                      D: 1
                      N: 0
                      O: 0
                      R: 0
                    result: 0
                  - inputs:
                      A: 0
                      B: 0
                      C: 0
                      D: 1
                      N: 0
                      O: 0
                      R: 1
                    result: 0
                  - inputs:
                      A: 0
                      B: 0
                      C: 0
                      D: 1
                      N: 0
                      O: 1
                      R: 0
                    result: 0
                  - inputs:
                      A: 0
                      B: 0
                      C: 0
                      D: 1
                      N: 0
                      O: 1
                      R: 1
                    result: 0
                  - inputs:
                      A: 0
                      B: 0
                      C: 0
                      D: 1
                      N: 1
                      O: 0
                      R: 0
                    result: 0
                  - inputs:
                      A: 0
                      B: 0
                      C: 0
                      D: 1
                      N: 1
                      O: 0
                      R: 1
                    result: 0
                  - inputs:
                      A: 0
                      B: 0
                      C: 0
                      D: 1
                      N: 1
                      O: 1
                      R: 0
                    result: 0
                  - inputs:
                      A: 0
                      B: 0
                      C: 0
                      D: 1
                      N: 1
                      O: 1
                      R: 1
                    result: 0
                  - inputs:
                      A: 0
                      B: 0
                      C: 1
                      D: 0
                      N: 0
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 0
                      B: 0
                      C: 1
                      D: 0
                      N: 0
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 0
                      B: 0
                      C: 1
                      D: 0
                      N: 0
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 0
                      B: 0
                      C: 1
                      D: 0
                      N: 0
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 0
                      B: 0
                      C: 1
                      D: 0
                      N: 1
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 0
                      B: 0
                      C: 1
                      D: 0
                      N: 1
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 0
                      B: 0
                      C: 1
                      D: 0
                      N: 1
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 0
                      B: 0
                      C: 1
                      D: 0
                      N: 1
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 0
                      B: 0
                      C: 1
                      D: 1
                      N: 0
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 0
                      B: 0
                      C: 1
                      D: 1
                      N: 0
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 0
                      B: 0
                      C: 1
                      D: 1
                      N: 0
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 0
                      B: 0
                      C: 1
                      D: 1
                      N: 0
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 0
                      B: 0
                      C: 1
                      D: 1
                      N: 1
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 0
                      B: 0
                      C: 1
                      D: 1
                      N: 1
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 0
                      B: 0
                      C: 1
                      D: 1
                      N: 1
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 0
                      B: 0
                      C: 1
                      D: 1
                      N: 1
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 0
                      B: 1
                      C: 0
                      D: 0
                      N: 0
                      O: 0
                      R: 0
                    result: 0
                  - inputs:
                      A: 0
                      B: 1
                      C: 0
                      D: 0
                      N: 0
                      O: 0
                      R: 1
                    result: 0
                  - inputs:
                      A: 0
                      B: 1
                      C: 0
                      D: 0
                      N: 0
                      O: 1
                      R: 0
                    result: 0
                  - inputs:
                      A: 0
                      B: 1
                      C: 0
                      D: 0
                      N: 0
                      O: 1
                      R: 1
                    result: 0
                  - inputs:
                      A: 0
                      B: 1
                      C: 0
                      D: 0
                      N: 1
                      O: 0
                      R: 0
                    result: 0
                  - inputs:
                      A: 0
                      B: 1
                      C: 0
                      D: 0
                      N: 1
                      O: 0
                      R: 1
                    result: 0
                  - inputs:
                      A: 0
                      B: 1
                      C: 0
                      D: 0
                      N: 1
                      O: 1
                      R: 0
                    result: 0
                  - inputs:
                      A: 0
                      B: 1
                      C: 0
                      D: 0
                      N: 1
                      O: 1
                      R: 1
                    result: 0
                  - inputs:
                      A: 0
                      B: 1
                      C: 0
                      D: 1
                      N: 0
                      O: 0
                      R: 0
                    result: 0
                  - inputs:
                      A: 0
                      B: 1
                      C: 0
                      D: 1
                      N: 0
                      O: 0
                      R: 1
                    result: 0
                  - inputs:
                      A: 0
                      B: 1
                      C: 0
                      D: 1
                      N: 0
                      O: 1
                      R: 0
                    result: 0
                  - inputs:
                      A: 0
                      B: 1
                      C: 0
                      D: 1
                      N: 0
                      O: 1
                      R: 1
                    result: 0
                  - inputs:
                      A: 0
                      B: 1
                      C: 0
                      D: 1
                      N: 1
                      O: 0
                      R: 0
                    result: 0
                  - inputs:
                      A: 0
                      B: 1
                      C: 0
                      D: 1
                      N: 1
                      O: 0
                      R: 1
                    result: 0
                  - inputs:
                      A: 0
                      B: 1
                      C: 0
                      D: 1
                      N: 1
                      O: 1
                      R: 0
                    result: 0
                  - inputs:
                      A: 0
                      B: 1
                      C: 0
                      D: 1
                      N: 1
                      O: 1
                      R: 1
                    result: 0
                  - inputs:
                      A: 0
                      B: 1
                      C: 1
                      D: 0
                      N: 0
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 0
                      B: 1
                      C: 1
                      D: 0
                      N: 0
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 0
                      B: 1
                      C: 1
                      D: 0
                      N: 0
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 0
                      B: 1
                      C: 1
                      D: 0
                      N: 0
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 0
                      B: 1
                      C: 1
                      D: 0
                      N: 1
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 0
                      B: 1
                      C: 1
                      D: 0
                      N: 1
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 0
                      B: 1
                      C: 1
                      D: 0
                      N: 1
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 0
                      B: 1
                      C: 1
                      D: 0
                      N: 1
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 0
                      B: 1
                      C: 1
                      D: 1
                      N: 0
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 0
                      B: 1
                      C: 1
                      D: 1
                      N: 0
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 0
                      B: 1
                      C: 1
                      D: 1
                      N: 0
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 0
                      B: 1
                      C: 1
                      D: 1
                      N: 0
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 0
                      B: 1
                      C: 1
                      D: 1
                      N: 1
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 0
                      B: 1
                      C: 1
                      D: 1
                      N: 1
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 0
                      B: 1
                      C: 1
                      D: 1
                      N: 1
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 0
                      B: 1
                      C: 1
                      D: 1
                      N: 1
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 0
                      C: 0
                      D: 0
                      N: 0
                      O: 0
                      R: 0
                    result: 0
                  - inputs:
                      A: 1
                      B: 0
                      C: 0
                      D: 0
                      N: 0
                      O: 0
                      R: 1
                    result: 0
                  - inputs:
                      A: 1
                      B: 0
                      C: 0
                      D: 0
                      N: 0
                      O: 1
                      R: 0
                    result: 0
                  - inputs:
                      A: 1
                      B: 0
                      C: 0
                      D: 0
                      N: 0
                      O: 1
                      R: 1
                    result: 0
                  - inputs:
                      A: 1
                      B: 0
                      C: 0
                      D: 0
                      N: 1
                      O: 0
                      R: 0
                    result: 0
                  - inputs:
                      A: 1
                      B: 0
                      C: 0
                      D: 0
                      N: 1
                      O: 0
                      R: 1
                    result: 0
                  - inputs:
                      A: 1
                      B: 0
                      C: 0
                      D: 0
                      N: 1
                      O: 1
                      R: 0
                    result: 0
                  - inputs:
                      A: 1
                      B: 0
                      C: 0
                      D: 0
                      N: 1
                      O: 1
                      R: 1
                    result: 0
                  - inputs:
                      A: 1
                      B: 0
                      C: 0
                      D: 1
                      N: 0
                      O: 0
                      R: 0
                    result: 0
                  - inputs:
                      A: 1
                      B: 0
                      C: 0
                      D: 1
                      N: 0
                      O: 0
                      R: 1
                    result: 0
                  - inputs:
                      A: 1
                      B: 0
                      C: 0
                      D: 1
                      N: 0
                      O: 1
                      R: 0
                    result: 0
                  - inputs:
                      A: 1
                      B: 0
                      C: 0
                      D: 1
                      N: 0
                      O: 1
                      R: 1
                    result: 0
                  - inputs:
                      A: 1
                      B: 0
                      C: 0
                      D: 1
                      N: 1
                      O: 0
                      R: 0
                    result: 0
                  - inputs:
                      A: 1
                      B: 0
                      C: 0
                      D: 1
                      N: 1
                      O: 0
                      R: 1
                    result: 0
                  - inputs:
                      A: 1
                      B: 0
                      C: 0
                      D: 1
                      N: 1
                      O: 1
                      R: 0
                    result: 0
                  - inputs:
                      A: 1
                      B: 0
                      C: 0
                      D: 1
                      N: 1
                      O: 1
                      R: 1
                    result: 0
                  - inputs:
                      A: 1
                      B: 0
                      C: 1
                      D: 0
                      N: 0
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 0
                      C: 1
                      D: 0
                      N: 0
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 0
                      C: 1
                      D: 0
                      N: 0
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 0
                      C: 1
                      D: 0
                      N: 0
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 0
                      C: 1
                      D: 0
                      N: 1
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 0
                      C: 1
                      D: 0
                      N: 1
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 0
                      C: 1
                      D: 0
                      N: 1
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 0
                      C: 1
                      D: 0
                      N: 1
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 0
                      C: 1
                      D: 1
                      N: 0
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 0
                      C: 1
                      D: 1
                      N: 0
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 0
                      C: 1
                      D: 1
                      N: 0
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 0
                      C: 1
                      D: 1
                      N: 0
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 0
                      C: 1
                      D: 1
                      N: 1
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 0
                      C: 1
                      D: 1
                      N: 1
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 0
                      C: 1
                      D: 1
                      N: 1
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 0
                      C: 1
                      D: 1
                      N: 1
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 0
                      D: 0
                      N: 0
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 0
                      D: 0
                      N: 0
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 0
                      D: 0
                      N: 0
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 0
                      D: 0
                      N: 0
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 0
                      D: 0
                      N: 1
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 0
                      D: 0
                      N: 1
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 0
                      D: 0
                      N: 1
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 0
                      D: 0
                      N: 1
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 0
                      D: 1
                      N: 0
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 0
                      D: 1
                      N: 0
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 0
                      D: 1
                      N: 0
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 0
                      D: 1
                      N: 0
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 0
                      D: 1
                      N: 1
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 0
                      D: 1
                      N: 1
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 0
                      D: 1
                      N: 1
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 0
                      D: 1
                      N: 1
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 1
                      D: 0
                      N: 0
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 1
                      D: 0
                      N: 0
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 1
                      D: 0
                      N: 0
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 1
                      D: 0
                      N: 0
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 1
                      D: 0
                      N: 1
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 1
                      D: 0
                      N: 1
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 1
                      D: 0
                      N: 1
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 1
                      D: 0
                      N: 1
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 1
                      D: 1
                      N: 0
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 1
                      D: 1
                      N: 0
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 1
                      D: 1
                      N: 0
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 1
                      D: 1
                      N: 0
                      O: 1
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 1
                      D: 1
                      N: 1
                      O: 0
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 1
                      D: 1
                      N: 1
                      O: 0
                      R: 1
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 1
                      D: 1
                      N: 1
                      O: 1
                      R: 0
                    result: 1
                  - inputs:
                      A: 1
                      B: 1
                      C: 1
                      D: 1
                      N: 1
                      O: 1
                      R: 1
                    result: 1
                  asciiTable: >
                    | A        | B        | C        | D        | N        | O        | R        | Result   |

                    |----------|----------|----------|----------|----------|----------|----------|----------|

                    | 0        | 0        | 0        | 0        | 0        | 0        | 0        | 0        |

                    | 0        | 0        | 0        | 0        | 0        | 0        | 1        | 0        |

                    | 0        | 0        | 0        | 0        | 0        | 1        | 0        | 0        |

                    | 0        | 0        | 0        | 0        | 0        | 1        | 1        | 0        |

                    | 0        | 0        | 0        | 0        | 1        | 0        | 0        | 0        |

                    | 0        | 0        | 0        | 0        | 1        | 0        | 1        | 0        |

                    | 0        | 0        | 0        | 0        | 1        | 1        | 0        | 0        |

                    | 0        | 0        | 0        | 0        | 1        | 1        | 1        | 0        |

                    | 0        | 0        | 0        | 1        | 0        | 0        | 0        | 0        |

                    | 0        | 0        | 0        | 1        | 0        | 0        | 1        | 0        |

                    | 0        | 0        | 0        | 1        | 0        | 1        | 0        | 0        |

                    | 0        | 0        | 0        | 1        | 0        | 1        | 1        | 0        |

                    | 0        | 0        | 0        | 1        | 1        | 0        | 0        | 0        |

                    | 0        | 0        | 0        | 1        | 1        | 0        | 1        | 0        |

                    | 0        | 0        | 0        | 1        | 1        | 1        | 0        | 0        |

                    | 0        | 0        | 0        | 1        | 1        | 1        | 1        | 0        |

                    | 0        | 0        | 1        | 0        | 0        | 0        | 0        | 1        |

                    | 0        | 0        | 1        | 0        | 0        | 0        | 1        | 1        |

                    | 0        | 0        | 1        | 0        | 0        | 1        | 0        | 1        |

                    | 0        | 0        | 1        | 0        | 0        | 1        | 1        | 1        |

                    | 0        | 0        | 1        | 0        | 1        | 0        | 0        | 1        |

                    | 0        | 0        | 1        | 0        | 1        | 0        | 1        | 1        |

                    | 0        | 0        | 1        | 0        | 1        | 1        | 0        | 1        |

                    | 0        | 0        | 1        | 0        | 1        | 1        | 1        | 1        |

                    | 0        | 0        | 1        | 1        | 0        | 0        | 0        | 1        |

                    | 0        | 0        | 1        | 1        | 0        | 0        | 1        | 1        |

                    | 0        | 0        | 1        | 1        | 0        | 1        | 0        | 1        |

                    | 0        | 0        | 1        | 1        | 0        | 1        | 1        | 1        |

                    | 0        | 0        | 1        | 1        | 1        | 0        | 0        | 1        |

                    | 0        | 0        | 1        | 1        | 1        | 0        | 1        | 1        |

                    | 0        | 0        | 1        | 1        | 1        | 1        | 0        | 1        |

                    | 0        | 0        | 1        | 1        | 1        | 1        | 1        | 1        |

                    | 0        | 1        | 0        | 0        | 0        | 0        | 0        | 0        |

                    | 0        | 1        | 0        | 0        | 0        | 0        | 1        | 0        |

                    | 0        | 1        | 0        | 0        | 0        | 1        | 0        | 0        |

                    | 0        | 1        | 0        | 0        | 0        | 1        | 1        | 0        |

                    | 0        | 1        | 0        | 0        | 1        | 0        | 0        | 0        |

                    | 0        | 1        | 0        | 0        | 1        | 0        | 1        | 0        |

                    | 0        | 1        | 0        | 0        | 1        | 1        | 0        | 0        |

                    | 0        | 1        | 0        | 0        | 1        | 1        | 1        | 0        |

                    | 0        | 1        | 0        | 1        | 0        | 0        | 0        | 0        |

                    | 0        | 1        | 0        | 1        | 0        | 0        | 1        | 0        |

                    | 0        | 1        | 0        | 1        | 0        | 1        | 0        | 0        |

                    | 0        | 1        | 0        | 1        | 0        | 1        | 1        | 0        |

                    | 0        | 1        | 0        | 1        | 1        | 0        | 0        | 0        |

                    | 0        | 1        | 0        | 1        | 1        | 0        | 1        | 0        |

                    | 0        | 1        | 0        | 1        | 1        | 1        | 0        | 0        |

                    | 0        | 1        | 0        | 1        | 1        | 1        | 1        | 0        |

                    | 0        | 1        | 1        | 0        | 0        | 0        | 0        | 1        |

                    | 0        | 1        | 1        | 0        | 0        | 0        | 1        | 1        |

                    | 0        | 1        | 1        | 0        | 0        | 1        | 0        | 1        |

                    | 0        | 1        | 1        | 0        | 0        | 1        | 1        | 1        |

                    | 0        | 1        | 1        | 0        | 1        | 0        | 0        | 1        |

                    | 0        | 1        | 1        | 0        | 1        | 0        | 1        | 1        |

                    | 0        | 1        | 1        | 0        | 1        | 1        | 0        | 1        |

                    | 0        | 1        | 1        | 0        | 1        | 1        | 1        | 1        |

                    | 0        | 1        | 1        | 1        | 0        | 0        | 0        | 1        |

                    | 0        | 1        | 1        | 1        | 0        | 0        | 1        | 1        |

                    | 0        | 1        | 1        | 1        | 0        | 1        | 0        | 1        |

                    | 0        | 1        | 1        | 1        | 0        | 1        | 1        | 1        |

                    | 0        | 1        | 1        | 1        | 1        | 0        | 0        | 1        |

                    | 0        | 1        | 1        | 1        | 1        | 0        | 1        | 1        |

                    | 0        | 1        | 1        | 1        | 1        | 1        | 0        | 1        |

                    | 0        | 1        | 1        | 1        | 1        | 1        | 1        | 1        |

                    | 1        | 0        | 0        | 0        | 0        | 0        | 0        | 0        |

                    | 1        | 0        | 0        | 0        | 0        | 0        | 1        | 0        |

                    | 1        | 0        | 0        | 0        | 0        | 1        | 0        | 0        |

                    | 1        | 0        | 0        | 0        | 0        | 1        | 1        | 0        |

                    | 1        | 0        | 0        | 0        | 1        | 0        | 0        | 0        |

                    | 1        | 0        | 0        | 0        | 1        | 0        | 1        | 0        |

                    | 1        | 0        | 0        | 0        | 1        | 1        | 0        | 0        |

                    | 1        | 0        | 0        | 0        | 1        | 1        | 1        | 0        |

                    | 1        | 0        | 0        | 1        | 0        | 0        | 0        | 0        |

                    | 1        | 0        | 0        | 1        | 0        | 0        | 1        | 0        |

                    | 1        | 0        | 0        | 1        | 0        | 1        | 0        | 0        |

                    | 1        | 0        | 0        | 1        | 0        | 1        | 1        | 0        |

                    | 1        | 0        | 0        | 1        | 1        | 0        | 0        | 0        |

                    | 1        | 0        | 0        | 1        | 1        | 0        | 1        | 0        |

                    | 1        | 0        | 0        | 1        | 1        | 1        | 0        | 0        |

                    | 1        | 0        | 0        | 1        | 1        | 1        | 1        | 0        |

                    | 1        | 0        | 1        | 0        | 0        | 0        | 0        | 1        |

                    | 1        | 0        | 1        | 0        | 0        | 0        | 1        | 1        |

                    | 1        | 0        | 1        | 0        | 0        | 1        | 0        | 1        |

                    | 1        | 0        | 1        | 0        | 0        | 1        | 1        | 1        |

                    | 1        | 0        | 1        | 0        | 1        | 0        | 0        | 1        |

                    | 1        | 0        | 1        | 0        | 1        | 0        | 1        | 1        |

                    | 1        | 0        | 1        | 0        | 1        | 1        | 0        | 1        |

                    | 1        | 0        | 1        | 0        | 1        | 1        | 1        | 1        |

                    | 1        | 0        | 1        | 1        | 0        | 0        | 0        | 1        |

                    | 1        | 0        | 1        | 1        | 0        | 0        | 1        | 1        |

                    | 1        | 0        | 1        | 1        | 0        | 1        | 0        | 1        |

                    | 1        | 0        | 1        | 1        | 0        | 1        | 1        | 1        |

                    | 1        | 0        | 1        | 1        | 1        | 0        | 0        | 1        |

                    | 1        | 0        | 1        | 1        | 1        | 0        | 1        | 1        |

                    | 1        | 0        | 1        | 1        | 1        | 1        | 0        | 1        |

                    | 1        | 0        | 1        | 1        | 1        | 1        | 1        | 1        |

                    | 1        | 1        | 0        | 0        | 0        | 0        | 0        | 1        |

                    | 1        | 1        | 0        | 0        | 0        | 0        | 1        | 1        |

                    | 1        | 1        | 0        | 0        | 0        | 1        | 0        | 1        |

                    | 1        | 1        | 0        | 0        | 0        | 1        | 1        | 1        |

                    | 1        | 1        | 0        | 0        | 1        | 0        | 0        | 1        |

                    | 1        | 1        | 0        | 0        | 1        | 0        | 1        | 1        |

                    | 1        | 1        | 0        | 0        | 1        | 1        | 0        | 1        |

                    | 1        | 1        | 0        | 0        | 1        | 1        | 1        | 1        |

                    | 1        | 1        | 0        | 1        | 0        | 0        | 0        | 1        |

                    | 1        | 1        | 0        | 1        | 0        | 0        | 1        | 1        |

                    | 1        | 1        | 0        | 1        | 0        | 1        | 0        | 1        |

                    | 1        | 1        | 0        | 1        | 0        | 1        | 1        | 1        |

                    | 1        | 1        | 0        | 1        | 1        | 0        | 0        | 1        |

                    | 1        | 1        | 0        | 1        | 1        | 0        | 1        | 1        |

                    | 1        | 1        | 0        | 1        | 1        | 1        | 0        | 1        |

                    | 1        | 1        | 0        | 1        | 1        | 1        | 1        | 1        |

                    | 1        | 1        | 1        | 0        | 0        | 0        | 0        | 1        |

                    | 1        | 1        | 1        | 0        | 0        | 0        | 1        | 1        |

                    | 1        | 1        | 1        | 0        | 0        | 1        | 0        | 1        |

                    | 1        | 1        | 1        | 0        | 0        | 1        | 1        | 1        |

                    | 1        | 1        | 1        | 0        | 1        | 0        | 0        | 1        |

                    | 1        | 1        | 1        | 0        | 1        | 0        | 1        | 1        |

                    | 1        | 1        | 1        | 0        | 1        | 1        | 0        | 1        |

                    | 1        | 1        | 1        | 0        | 1        | 1        | 1        | 1        |

                    | 1        | 1        | 1        | 1        | 0        | 0        | 0        | 1        |

                    | 1        | 1        | 1        | 1        | 0        | 0        | 1        | 1        |

                    | 1        | 1        | 1        | 1        | 0        | 1        | 0        | 1        |

                    | 1        | 1        | 1        | 1        | 0        | 1        | 1        | 1        |

                    | 1        | 1        | 1        | 1        | 1        | 0        | 0        | 1        |

                    | 1        | 1        | 1        | 1        | 1        | 0        | 1        | 1        |

                    | 1        | 1        | 1        | 1        | 1        | 1        | 0        | 1        |

                    | 1        | 1        | 1        | 1        | 1        | 1        | 1        | 1        |
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occured, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
- api_key: []
